.template-dialog {
    .field-container {
        padding: 8px;
        max-height: 128px;
        overflow-y: auto;

        .field-item {
            padding: 8px;

            .title {
                font-weight: normal;
            }

            .subtitle {
                opacity: 0.6;
                font-size: 14px;
            }

            .wide-container {
                position: relative;

                .wide {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
