.template-dialog {
    .field-container {
        padding: 8px;
        max-height: 128px;
        overflow-y: auto;

        .field-item {
            padding: 8px;

            .title {
                font-weight: normal;
            }

            .subtitle {
                opacity: 0.6;
                font-size: 14px;
            }
        }
    }
}
