.form-root {
    .fields {
        .field {
            display: inline-block;
        }
    }
}

.template-name {
    font-size: 10px;
    opacity: 0.5;
    font-weight: normal;
}

.letters.section {
    position: relative;
    .generate-btn {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    .cover-letter-item {
        position: relative;

        .MuiAccordionSummary-content {
            position: relative;

            .actions {
                position: absolute;
                top: 50%;
                right: 24px;
                transform: translate(0, -50%);
            }
        }
    }
}
